.frontbody {
  padding-top: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  margin-top: 50px;
}

.text h1 {
  margin-bottom: 0px;
  font-size: 50px;
  
}
.text h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #9da0b6;
}

.boxes {
  display: flex;
  align-items: center;
  margin: auto;
  
}

.boxes .servicesinput {
  all: unset;
  padding: 10px;
  border: 1px solid rgb(238, 235, 235);
  margin-left: 200px;
  width: 300px;
  
}

.boxes .locationicon {
  border-top: 1px solid rgb(238, 235, 235);
  border-bottom: 1px solid rgb(238, 235, 235);
  padding: 10px;
}
.Postcode {
  all: unset;
  padding: 10px;
  border-top: 1px solid rgb(238, 235, 235);
  border-bottom: 1px solid rgb(238, 235, 235);
  border-right: 1px solid rgb(238, 235, 235);
}
.search
{

    all:unset;
    background-color:blue;
    margin-left:20px;
    padding:11px;
    font-weight:bold;
    width:70px;
    text-align:center;
    color:white;
    border-radius: 7px;
}

.downtext
{
    color: #9da0b6;
    margin-right:20px;
}