nav{
    display:flex;
    padding:0px 20px;
    padding-top:10px;
    padding-bottom:7px;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid rgb(238, 235, 235);
    box-shadow: 0px 0px 5px 0px rgb(238, 235, 235);
    position:relative;
}
.fa-sort-up
{
    display: none;
}
.dropdownsection
{
    position:absolute;
   padding:20px;
   color:rgb(138, 137, 137);
   border: 0.5px groove rgb(238, 235, 235);
     z-index: 100;
     top:90px;
     overflow: hidden;
     opacity:0%;
     transition:0.5s ease all;
     display:flex;
     flex-direction:column;
}

.dropdownsection .title
{
    display:flex;

    justify-content: space-between;
    gap:100px;
}
.dropdownsection ul{
    align-items:start;
    padding:0px;

}
.dropdownsection ul li{
    list-style:none;
    padding-top:5px;
}
#angle_right
{
    padding-left:180px;
}
.dropdownsection ul li i{
    padding-right:20px;
}
.dropdownsection ul li a{
    text-decoration: none;
    color:rgb(138, 137, 137);
}
nav .left
{
    display:flex;
    align-items:center;
    cursor:pointer;
}

.beforedropdown
{
    display:flex;
    align-items:center;
    padding-left: 20px;
    gap:3px;
}
#arrowup
{
    padding-top:10px;
}
nav .left img{
    width:75px;
}

nav .right
{
    display:flex;
    align-items:center;
    gap:20px;
    cursor:pointer;
}
nav .right p:hover{
    text-decoration: underline;
}
nav .right .loginasprofessional
{
all:unset;
color:white;
border: 1px solid #2d7af1;
background-color: #2d7af1;
cursor:pointer;
padding:7px;
border-radius: 50px;
box-shadow:0 3px 6px 0 rgb(45 122 241 / 30%);
width:200px;
text-align: center;
}

nav .right .loginasprofessional:hover{
background-color:#256fdd
}
nav .right .loginasprofessional i{
    padding-right:10px;
}