.discovertitle
{
    margin-top:150px;
    text-align: center;
    font-size:25px;
}

.iconsunderdiscover
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 200px;
}

.iconandtext
{
    text-align:center;
}

.iconandtext i{
    border:1px solid rgb(238, 235, 235);
    padding:10px;
    border-radius: 10px;
}
.iconandtext:hover{
text-decoration: underline;
}

.fa-house
{
    color:rgb(107, 184, 184);
}
.fa-house:hover
{
    background-color:rgb(107, 184, 184);
    color:white;
}
.fa-heart
{
    color:rgb(178, 240, 240);
}
.fa-heart:hover
{
   background-color:rgb(178, 240, 240);
   color:white;
}
.fa-calendar-days
{
    color:rgb(231, 129, 129);
}
.fa-calendar-days:hover
{
    background-color:rgb(231, 129, 129);
    color:white;
}
.fa-building
{
    color:rgb(89, 89, 161);
}
.fa-building:hover
{
    background-color:rgb(89, 89, 161);
    color:white;
}

.fa-book
{
color:rgb(160, 110, 160);
}
.fa-book:hover
{
background-color:rgb(160, 110, 160);
color:white;
}
.fa-list
{
    color:rgb(89, 89, 161);
}
.fa-list:hover
{
    background-color:rgb(89, 89, 161);
    color:white;
}


.containers
{
    display:flex;
    flex-direction: column;
    margin-top:50px;
}

.firstcon
{
    display:flex;
    flex-direction:column;
    align-items: center;
}


.firstcon .picturescon
{
    display:flex;
    gap:20px;
}
.imagecontext {
    overflow: hidden;
}
.imagecontext img{
    transition: 0.3s ease all;
}
.imagecontext img:hover{
    transform: scale(1.05); 
   
}
.imagecontext:hover{
    box-shadow: 5px 5px 5px 0px rgb(238, 235, 235);
}

.context{
    display:flex;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
}

.imagecontext
{
    border:1px solid rgb(238, 235, 235);
}

.imagecontext p{
    padding-left:10px;
}