.formbody{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}
.uppersection{
    border-bottom:1px solid rgb(225, 223, 223);
display:flex;
flex-direction:column;
}
.titleandcross{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size:15px;
}
svg{
    font-size:30px;
}
.inputs{
    display:flex;
    gap:20px;
}
.nameInput, .searchItem{
    all:unset;
    padding:10px;
    border:1px solid rgb(225, 223, 223);
    min-width:300px;
    border-radius:7px;
}
.percentageInput{
    all:unset;
    border-radius:7px;
    max-width:130px;
    border:1px solid rgb(225, 223, 223);
    padding:10px;
}

.titlenandcross h1{
    font-weight:bold;
}

.items{
    display:flex;
    flex-direction: column;
}

.itemCategory{
    display:flex;
    flex-direction:column;
    
  
}
.itemCategory h2{
    background-color:rgb(224, 224, 224);
    font-size:20px;
    padding:10px;
}

.item{
    display:flex;
    gap:20px;
}
.searchItem{
    margin-top:20px;
}

